
.container{
  height: 100vh;
  display: grid;
  grid-template:
  "drawer main main main";

  /* border: 5px solid #212227; */
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
