.shoppinglist-container{
  display: grid;
  justify-content: center;

}
.firstLine{
  width:440px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  padding-top: 130px;

}
.ulist{
  display: grid;
  grid-template-rows: auto;
  padding-left: 0;

}
.litem{
  display:grid;
  list-style-type: none;
  grid-template-columns: 30% 10% 60%;
}
.highlighted{
  background-color: yellow;
  border-radius: 5px;
  border: 2px solid red;

}

.itemText{
  text-align: left;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.itemQnt{
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.butContainer{

  text-align: right;
  display: grid;
  grid-template-columns: 50% 50%;
  margin:5px;
}

.deleteBut{
  color: white;
  background-color: brown;
  border-radius: 5px;
  border: 2px solid rgb(143, 37, 37);
  margin: 2px;

}

.incBut{

    color: white;
    background-color: #037171;
    border-radius: 5px;
    border: 2px solid #013e3e;
    margin: 2px;
}
.addBoxContainer{
  display: grid;
  grid-template-rows: 50% 50% ;
}
.addItemContainer{
  padding: 10px 0 10px 0;
}
.addInput{
  padding: 5px 0 5px 0;
}

.addBut{
  padding:5px;
  margin-left: 3px;

}
.form{
text-align: left;
margin-top: 10px;
}
.radio{
  margin-bottom: 5px;

}
.setBut{
  padding: 0 30px;
  margin: 8px 0;
}
.noteContainer{
  text-align: left;
  padding: 20px 0;

}
.note{
  padding-top: 5px;
  font-weight: bold;

}
