/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Add color variables to root
–––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --main-accent-color: #aad260;
  --dark-accent-color: #12330a;
  --hover-accent-color: #1e5410;
  --light-accent-color: #dff6e8;
  --border-color: #9cca47;
  font-size: 16px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.colored {
  background-color: var(--main-accent-color);
}

* {
  box-sizing: border-box;
}

/* Typography - here you can add fonts and use color variable in color property.
–––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: var(--dark-accent-color);
}
h2 {
  font-family: "Homemade Apple", cursive;
  font-size: 2em;
}

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
/* navigation */

header.logo_container {
  padding: 1% 0 2%;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: var(--dark-accent-color);
  z-index: 1;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.nav li {
  padding: 0 10px;
}

.nav li a {
  color: var(--light-accent-color);
  text-decoration: none;
  transition: 0.15s all ease-in-out;
}
.nav li a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .nav {
    position: static;
    padding: 10px 0;
  }
  .nav ul {
    display: block;
    text-align: center;
    margin: 0;
  }
  .nav li {
    padding-inline-end: 40px;
    font-size: 16px;
    text-align: center;
  }
  .logo {
    font-size: 10px;
  }
}

.logo {
  margin: 10% auto 5%;
  text-align: center;
}
.logo a {
  transition: 0.15s all ease-in-out;
  white-space: nowrap;
  font-size: 3em;
  color: var(--light-accent-color);
  text-decoration: none;
  border: 3px solid var(--light-accent-color);
  text-transform: uppercase;
  padding: 2px 10px 0 10px;
  margin: 0;
}
.logo a:hover {
  background-color: var(--light-accent-color);
  color: var(--main-accent-color);
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
ul.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
ul.social li {
  font-size: 3em;
  display: inline;
  padding: 0 2%;
}
ul.social li a {
  color: var(--dark-accent-color);
  transition: 0.15s all ease-in-out;
}
ul.social li.facebook a:hover {
  color: rgb(59, 89, 152);
}
ul.social li.twitter a:hover {
  color: rgb(0, 172, 237);
}
ul.social li.instagram a:hover {
  color: rgb(81, 127, 237);
}
ul.social li.youtube a:hover {
  color: rgb(187, 0, 0);
}
ul.social li.flickr a:hover {
  color: rgb(255, 0, 132);
}
ul.social li.linkedin a:hover {
  color: rgb(0, 123, 182);
}

p.copyright {
  text-align: center;
  color: var(--dark-accent-color);
  font-size: 1em;
}

@media (max-width: 767px) {
  ul.social li a {
    font-size: 0.75em;
  }
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––– */
/* */
.about {
  display: flex;
}
h2.bio span {
  border-bottom: solid 5px var(--main-accent-color);
  margin-bottom: 1em;
}
.avatar {
  flex-shrink: 0;
  height: 300px;
  width: 300px;
  align-self: center;
  margin-left: 4em;
  background: url("../images/profile_pic.png") center center no-repeat;
  background-size: cover;
}

.bio {
  flex-grow: 1;
  text-align: justify;
}

@media (max-width: 767px) {
  .about {
    flex-wrap: wrap;
  }
  .avatar {
    width: 100%;
    margin-top: 15%;
  }
  h2.bio {
    font-size: 2.5em;
  }
  p.bio {
    font-size: 1.25em;
    color: #3f7f7c;
  }
  ul.social li a {
    font-size: 0.75em;
  }
}

/* Gallery
–––––––––––––––––––––––––––––––––––––––––––––– */
/* */

.loader {
  width: 100px;
}

h2.bio.colored span {
  border-bottom: solid 5px var(--light-accent-color);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2%;
  align-content: baseline;
  align-items: center;
}

.portfolio {
  flex-basis: 31%;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
}

.portfolio a {
  display: block;
  transition: 0.4s ease-in-out all;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 80%;
  position: relative;
  border: 3px solid var(--main-accent-color);
}

.gallery:hover a {
  filter: grayscale(100%);
}

.portfolio a:hover {
  filter: none;
  border-color: var(--light-accent-color);
  border-radius: 24px;
}

@media (max-width: 767px) {
  .portfolio {
    flex-basis: 100%;
  }
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––– */
/* */

#slider {
  display: none;
}

.slider {
  margin: 50px 0 20px;
  display: flex;
  justify-content: center;
}

.slider-image {
  position: relative;
}

.slider-image img {
  border: 3px solid var(--main-accent-color);
  border-radius: 24px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 600px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.prev-slide,
.next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  z-index: 20;
}

.prev-slide {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Scroll to top button
–––––––––––––––––––––––––––––––––––––––––––––– */
/* */

.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  border: 1px solid var(--dark-accent-color);
  box-shadow: 0 2px 4px #777;
  background-color: var(--dark-accent-color);
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  z-index: 100;
}

.scrollTop:hover,
.scrollTop:active {
  background-color: var(--hover-accent-color);
}
