.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(9 117 255);
  margin: 0;
}

.listitem {
  list-style-type: none;
  float: left;
}

.listitem a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: white;
}

.listitem a.active {
  background-color: rgb(104 157 224);
  color: rgb(7, 7, 49);
  color: white;
}
