<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class =container>
      <h2>A Simple ToDo List App</h2>
      <form action="http://localhost:3000/tasks" method = "POST">
        <input type = "text" name = "title" placeholder="add a new task">
        <button id = "btn" type = "submit">Add Task</button>
      </form>

      <h2>Add Task</h2>

          <h2> Added Task </h2>
          <form action="http://localhost:3000/tasks?_method=DELETE", method="POST">

              <% for( var i=0; i < task.length; i++){ %>
             <input type="checkbox" name="check" value="<%= task[i]._id %>" />
                  <%= task[i].title %>

                <% } %>

            <button type="submit"> Delete </button>
          </form>

      <!-- <form action="http://localhost:3000/tasks"> -->
        <!-- <ul> -->

          <!-- <h2> Added Task </h2>
          <form method="POST" action="http://localhost:3000/tasks?_method=DELETE">
            <ul>
              <% for( var i=0; i < task.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= task[i]._id %>" />
                  <%= task[i].task %>
                </li>
                <% } %>
            </ul>
            <button type="submit"> Remove </button>
          </form> -->


        <!-- </ul> -->
      <!-- </form> -->

    </div>
    <script>
      // let btn = document.getElementById("cbox");
      // btn.addEventListener("click", e =>{
      //   e.preventDefault();
      //   fetch("http://localhost:3000/deletetask/#id"),{
      //     method:"DELETE"
      //   };

      // })
      // .then(re => res.json())
      // .then(data => console.log(data))
    </script>
</body>
</html
