.quiz-container{
  display: grid;
  height: 100%;
  /* height: 300px; */
  /* grid-template-rows: 50% 10% 10%; */
  row-gap: 5px;

}
h1{
  padding: 20px;
  padding-bottom:0px;
  margin-top: 10px;
}
.first-row{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 30px;

}
.number{
  justify-self: right;
}
.score{
  justify-self: left;
}
