body {
    max-width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: red;
}

h1, h2, h3, form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

form div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}